<!--this html lists all entries entered by various clients -->
{% extends "layout.html" %}
{% block content %}
    <h2>Worthy Wellness</h2>
    <h3> <a href="{{ url_for('index') }}">Back To Home</a></h3>
    <h3>Entries</h3>
    {% for entry  in entries %}
        <p class=form>
           Name:{{ entry.Name }} <br>
           Description:{{ entry.Description }} <br>
           Street_Address:{{ entry.Street_Address }} <br>
           Type_Of_Service:{{ entry.Type_Of_Service }} <br>
           Phone_Number:{{ entry.Phone_Number }} <br>
           Hours_Of_Operation:{{ entry.Hours_Of_Operation }}  <br>
           Reviews: {{ entry.Reviews }}
        </p>
    {% endfor %}

{% endblock %}
