<!--this html lists all values/attributes entered by various clients -->
{% extends "layout.html" %}
{% block content %}
    <h2>Worthy Wellness</h2>
    <h3> <a href="{{ url_for('index') }}">Back To Home</a></h3>
    <form action="{{ url_for('sign') }}" method=post>
	<p class="heading">Name: <input type=text name=Name>
	<p class="heading">Description: <input type=text name=Description>
        <p class="heading">Street_Address: <input type=text name=Street_Address>
        <p class="heading">Type_Of_Service: <input type=text name=Type_Of_Service>
        <p class="heading">Phone_Number: <input type=number name=Phone_Number>
        <p class="heading">Hours_Of_Operation: <input type=number name=Hours_Of_Operation>
        <p class="heading">Reviews:
	<textarea rows=5 cols=50 name=Reviews></textarea></p>
	<p><input type=submit value=Submit></p>
    </form>
{% endblock %}
