<!--this html is main page where you can enter into either listing  page to see where all entries entered by various clients and redirects to sign page where clients can enter details  -->
{% extends "layout.html" %}
{% block content %}
    <h2>Worthy Wellness</h2>

    <h3>Enter Details  <a href="{{ url_for('sign') }}">here</a></h3>
    <h3>Entries <a href="{{ url_for('listing') }}">here</a></h3>
    
{% endblock %}
